In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
path='/content/drive/MyDrive/Colab Notebooks/Retail/data/'
gds_a = pd.read_csv(path+'gds_a.csv')
gds_b = pd.read_csv(path+'gds_b.csv')
gds_c = pd.read_csv(path+'gds_c.csv')
gds_d = pd.read_csv(path+'gds_d.csv')
tr_list_a = pd.read_csv(path+'tr_list_a.csv')
tr_list_b = pd.read_csv(path+'tr_list_b.csv')
tr_list_c = pd.read_csv(path+'tr_list_c.csv')
tr_list_d = pd.read_csv(path+'tr_list_d.csv')
tr_dtl_list_a = pd.read_csv(path+'tr_dtl_list_a.csv')
tr_dtl_list_b = pd.read_csv(path+'tr_dtl_list_b.csv')
tr_dtl_list_c = pd.read_csv(path+'tr_dtl_list_c.csv')
tr_dtl_list_d = pd.read_csv(path+'tr_dtl_list_d.csv')

In [3]:
gds_a

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD
0,1001294,12018,1,배송비,999999,배송료,0
1,1001294,12018,2,사은행사쿠폰,999999,배송료,0
2,1001294,12018,91770,코지유리물병,93331,일반,0
3,1001294,12018,91770,크지물병,91701,일반,0
4,1001294,12018,50390427,POM석류,12579,일반,0
...,...,...,...,...,...,...,...
72142,1001294,12018,9999999914157,맥 원형후라이 대(240),93330,일반,0
72143,1001294,12018,9999999914171,맥웰빙원후/8,93330,일반,0
72144,1001294,12018,9999999914393,절구 소소,91701,일반,0
72145,1001294,12018,9999999915079,알뜰Y투라인,91701,일반,0
72146,1001294,12018,9999999915833,맥 웰빙원후 7,91701,일반,0

In [ ]:
tr_dtl_list_a

,SAL_DT,STR_CD,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SGDS_DC_PRC,SUBTOT_DC_AMT,EVT_DC_AMT,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT
0,20210901,12018,01,3,1,정상판매,1,8801039939499,12301.0,180.0,3000.0,540000.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,12101.0,360.0,1000.0,360000.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
2,20210901,12018,01,3,3,정상판매,1,8801045291314,12101.0,360.0,1000.0,360000.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
3,20210901,12018,01,3,4,정상판매,1,8803712127018,11363.0,180.0,2700.0,486000.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
4,20210901,12018,01,3,5,정상판매,1,8801045890333,12102.0,180.0,9500.0,1710000.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5166594,20220901,12018,R1,7,9,정상판매,1,8801052171012,11170.0,1.0,850.0,850.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
5166595,20220901,12018,R1,7,10,정상판매,1,8801069221397,12205.0,1.0,4900.0,4380.0,할인특매,520.0,0.0,0.0,0.0,일반,0.0,0.0
5166596,20220901,12018,R1,7,11,정상판매,1,8801075016536,10251.0,1.0,10300.0,7980.0,할인특매,2320.0,0.0,0.0,0.0,일반,0.0,0.0
5166597,20220901,12018,R1,7,12,정상판매,1,8803712301654,10303.0,1.0,13200.0,13200.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0
5166598,20220901,12018,R1,7,13,정상판매,1,8809389740024,30301.0,1.0,980.0,980.0,할인특매,0.0,0.0,0.0,0.0,일반,0.0,0.0

In [ ]:
a_mer = pd.merge(tr_dtl_list_a[['SAL_DT','SEQ_NO', 'PLU_CD']],gds_a[['PLU_CD', 'GDS_NM']])
a_mer

           SAL_DT  SEQ_NO         PLU_CD                GDS_NM
0        20210901       1  8801039939499           해표 더고소한 파래김
1        20210902       1  8801039939499           해표 더고소한 파래김
2        20210902       1  8801039939499           해표 더고소한 파래김
3        20210902       3  8801039939499           해표 더고소한 파래김
4        20210903       1  8801039939499           해표 더고소한 파래김
...           ...     ...            ...                   ...
5054693  20220901       6  8801045255262    오뚜기 옛날 구수한 끓여먹는누룽지
5054694  20220901       7  8801075014525         사조 살코기참치 안심따개
5054695  20220901       3  8809263421247                쇼핑백(대)
5054696  20220901       4  4987176125293  다우니 엑스퍼트 실내건조 플로럴프레쉬
5054697  20220901       1  8809401602910           프릴베이킹소다허브용기

[5054698 rows x 4 columns]

In [ ]:
dtl_copy = tr_dtl_list_a.copy()

In [ ]:
dtl_mer = pd.merge(dtl_copy, gds_a, how='left', on='PLU_CD')
dtl_mer

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_CLSS_CD_x,SALE_QTY,...,CPON_DC_AMT,SCALES_GDS_TP_NM,GDS_CPON_DC_AMT,BASKET_CPON_DC_AMT,CO_CD,STR_CD_y,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,20210901,12018,01,3,1,정상판매,1,8801039939499,12301.0,180.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,해표 더고소한 파래김,12301.0,일반,16.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,12101.0,360.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,오뚜기 3분쇠고기카레,12101.0,일반,47.0
2,20210901,12018,01,3,3,정상판매,1,8801045291314,12101.0,360.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,오뚜기 3분쇠고기짜장,12101.0,일반,47.0
3,20210901,12018,01,3,4,정상판매,1,8803712127018,11363.0,180.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,목우촌 뚝심,11363.0,일반,61.0
4,20210901,12018,01,3,5,정상판매,1,8801045890333,12102.0,180.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,오뚜기 맛있는밥기획,12102.0,일반,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171350,20220901,12018,R1,7,9,정상판매,1,8801052171012,11170.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,청정원 맛소금,11170.0,일반,35.0
5171351,20220901,12018,R1,7,10,정상판매,1,8801069221397,12205.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,남양 맛있는우유GT기획,12205.0,일반,2.0
5171352,20220901,12018,R1,7,11,정상판매,1,8801075016536,10251.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,사조 살코기참치 안심따개,10251.0,일반,16.0
5171353,20220901,12018,R1,7,12,정상판매,1,8803712301654,10303.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,목우촌 알찬란(특란),10303.0,일반,61.0
5171354,20220901,12018,R1,7,13,정상판매,1,8809389740024,30301.0,1.0,...,0.0,일반,0.0,0.0,1001294.0,12018.0,쌈다시마(팩),30301.0,일반,80.0

In [ ]:
dtl_mer.drop(['CO_CD', 'STR_CD_y', 'GDS_CLSS_CD_x','SGDS_DC_PRC', 'SUBTOT_DC_AMT', 'EVT_DC_AMT', 'CPON_DC_AMT','GDS_CPON_DC_AMT','BASKET_CPON_DC_AMT'], axis=1, inplace=True)
dtl_mer

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,20210901,12018,01,3,1,정상판매,1,8801039939499,180.0,3000.0,540000.0,할인특매,일반,해표 더고소한 파래김,12301.0,일반,16.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,오뚜기 3분쇠고기카레,12101.0,일반,47.0
2,20210901,12018,01,3,3,정상판매,1,8801045291314,360.0,1000.0,360000.0,할인특매,일반,오뚜기 3분쇠고기짜장,12101.0,일반,47.0
3,20210901,12018,01,3,4,정상판매,1,8803712127018,180.0,2700.0,486000.0,할인특매,일반,목우촌 뚝심,11363.0,일반,61.0
4,20210901,12018,01,3,5,정상판매,1,8801045890333,180.0,9500.0,1710000.0,할인특매,일반,오뚜기 맛있는밥기획,12102.0,일반,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171350,20220901,12018,R1,7,9,정상판매,1,8801052171012,1.0,850.0,850.0,할인특매,일반,청정원 맛소금,11170.0,일반,35.0
5171351,20220901,12018,R1,7,10,정상판매,1,8801069221397,1.0,4900.0,4380.0,할인특매,일반,남양 맛있는우유GT기획,12205.0,일반,2.0
5171352,20220901,12018,R1,7,11,정상판매,1,8801075016536,1.0,10300.0,7980.0,할인특매,일반,사조 살코기참치 안심따개,10251.0,일반,16.0
5171353,20220901,12018,R1,7,12,정상판매,1,8803712301654,1.0,13200.0,13200.0,할인특매,일반,목우촌 알찬란(특란),10303.0,일반,61.0
5171354,20220901,12018,R1,7,13,정상판매,1,8809389740024,1.0,980.0,980.0,할인특매,일반,쌈다시마(팩),30301.0,일반,80.0

In [ ]:
dtl_mer.columns

Index(['SAL_DT', 'STR_CD_x', 'POS_NO', 'TRAN_NO', 'SEQ_NO', 'DESI_CNCL_TP_NM',
       'SALE_RTN_SGN', 'PLU_CD', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT',
       'SGDS_DC_TP_NM', 'SCALES_GDS_TP_NM', 'GDS_NM', 'GDS_CLSS_CD_y',
       'GDS_TP_NM', 'VEN_CD'],
      dtype='object')

In [ ]:
dtl_mer.reindex(columns=['SAL_DT', 'STR_CD_x', 'POS_NO', 'TRAN_NO', 'SEQ_NO', 'DESI_CNCL_TP_NM',
       'SALE_RTN_SGN', 'PLU_CD', 'GDS_NM', 'GDS_CLSS_CD_y', 'SALE_QTY', 'SALE_PRC', 'SALE_AMT',
       'SGDS_DC_TP_NM', 'SCALES_GDS_TP_NM', 
       'GDS_TP_NM', 'VEN_CD'])

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,GDS_NM,GDS_CLSS_CD_y,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_TP_NM,VEN_CD
0,20210901,12018,01,3,1,정상판매,1,8801039939499,해표 더고소한 파래김,12301.0,180.0,3000.0,540000.0,할인특매,일반,일반,16.0
1,20210901,12018,01,3,2,정상판매,1,8801045312316,오뚜기 3분쇠고기카레,12101.0,360.0,1000.0,360000.0,할인특매,일반,일반,47.0
2,20210901,12018,01,3,3,정상판매,1,8801045291314,오뚜기 3분쇠고기짜장,12101.0,360.0,1000.0,360000.0,할인특매,일반,일반,47.0
3,20210901,12018,01,3,4,정상판매,1,8803712127018,목우촌 뚝심,11363.0,180.0,2700.0,486000.0,할인특매,일반,일반,61.0
4,20210901,12018,01,3,5,정상판매,1,8801045890333,오뚜기 맛있는밥기획,12102.0,180.0,9500.0,1710000.0,할인특매,일반,일반,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171350,20220901,12018,R1,7,9,정상판매,1,8801052171012,청정원 맛소금,11170.0,1.0,850.0,850.0,할인특매,일반,일반,35.0
5171351,20220901,12018,R1,7,10,정상판매,1,8801069221397,남양 맛있는우유GT기획,12205.0,1.0,4900.0,4380.0,할인특매,일반,일반,2.0
5171352,20220901,12018,R1,7,11,정상판매,1,8801075016536,사조 살코기참치 안심따개,10251.0,1.0,10300.0,7980.0,할인특매,일반,일반,16.0
5171353,20220901,12018,R1,7,12,정상판매,1,8803712301654,목우촌 알찬란(특란),10303.0,1.0,13200.0,13200.0,할인특매,일반,일반,61.0
5171354,20220901,12018,R1,7,13,정상판매,1,8809389740024,쌈다시마(팩),30301.0,1.0,980.0,980.0,할인특매,일반,일반,80.0

In [ ]:
dtl_mer_copy = dtl_mer.copy()

In [ ]:
dtl_mer_copy.SAL_DT = dtl_mer_copy.SAL_DT.astype('str')
dtl_mer_copy.SAL_DT

0          20210901
1          20210901
2          20210901
3          20210901
4          20210901
             ...
5171350    20220901
5171351    20220901
5171352    20220901
5171353    20220901
5171354    20220901
Name: SAL_DT, Length: 5171355, dtype: object

In [ ]:
dtl_mer_copy.SAL_DT = pd.to_datetime(dtl_mer_copy.SAL_DT)
# dtl_mer_copy.SAL_DT.dt.strftime('%Y/%m/%d')
dtl_mer_copy

,SAL_DT,STR_CD_x,POS_NO,TRAN_NO,SEQ_NO,DESI_CNCL_TP_NM,SALE_RTN_SGN,PLU_CD,SALE_QTY,SALE_PRC,SALE_AMT,SGDS_DC_TP_NM,SCALES_GDS_TP_NM,GDS_NM,GDS_CLSS_CD_y,GDS_TP_NM,VEN_CD
0,2021-09-01,12018,01,3,1,정상판매,1,8801039939499,180.0,3000.0,540000.0,할인특매,일반,해표 더고소한 파래김,12301.0,일반,16.0
1,2021-09-01,12018,01,3,2,정상판매,1,8801045312316,360.0,1000.0,360000.0,할인특매,일반,오뚜기 3분쇠고기카레,12101.0,일반,47.0
2,2021-09-01,12018,01,3,3,정상판매,1,8801045291314,360.0,1000.0,360000.0,할인특매,일반,오뚜기 3분쇠고기짜장,12101.0,일반,47.0
3,2021-09-01,12018,01,3,4,정상판매,1,8803712127018,180.0,2700.0,486000.0,할인특매,일반,목우촌 뚝심,11363.0,일반,61.0
4,2021-09-01,12018,01,3,5,정상판매,1,8801045890333,180.0,9500.0,1710000.0,할인특매,일반,오뚜기 맛있는밥기획,12102.0,일반,47.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5171350,2022-09-01,12018,R1,7,9,정상판매,1,8801052171012,1.0,850.0,850.0,할인특매,일반,청정원 맛소금,11170.0,일반,35.0
5171351,2022-09-01,12018,R1,7,10,정상판매,1,8801069221397,1.0,4900.0,4380.0,할인특매,일반,남양 맛있는우유GT기획,12205.0,일반,2.0
5171352,2022-09-01,12018,R1,7,11,정상판매,1,8801075016536,1.0,10300.0,7980.0,할인특매,일반,사조 살코기참치 안심따개,10251.0,일반,16.0
5171353,2022-09-01,12018,R1,7,12,정상판매,1,8803712301654,1.0,13200.0,13200.0,할인특매,일반,목우촌 알찬란(특란),10303.0,일반,61.0
5171354,2022-09-01,12018,R1,7,13,정상판매,1,8809389740024,1.0,980.0,980.0,할인특매,일반,쌈다시마(팩),30301.0,일반,80.0

In [ ]:
dtl_gr = dtl_mer_copy.groupby(['SAL_DT', 'TRAN_NO', 'GDS_TP_NM'])['GDS_NM'].apply(list).to_frame()
dtl_gr

                                                                         GDS_NM
SAL_DT     TRAN_NO GDS_TP_NM
2021-09-01 1       일반         [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
           2       일반         [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
                   저울상품                                               [한우양지국거리]
           3       일반         [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기 3분쇠고기짜장, 목우촌 뚝심...
                   저울상품                           [양념무뼈닭발, 냉장삼겹살(수입), 찰(완숙)토마토]
...                                                                         ...
2022-09-01 688     일반                                              [홍로사과 10입/봉]
           689     일반                                               [죽염 시린고 치약]
           690     일반                                          [CJ 양념이잘배는찌개두부 ]
           691     일반                                                 [홍로사과/8개]
           692     일반                            [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[445308 rows x 1 columns]

In [ ]:
dtl_gr2 = dtl_mer_copy.groupby(['SAL_DT', 'TRAN_NO'])['GDS_NM'].apply(list).to_frame()
dtl_gr2

                                                               GDS_NM
SAL_DT     TRAN_NO
2021-09-01 1        [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
           2        [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
           3        [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기 3분쇠고기짜장, 목우촌 뚝심...
           4        [**인큐애호박 1개, 진주 천하장사, *백오이 1개, 아삭이고추(2팩), *대파 ...
           5        [칠성사이다, 롯데 그란데아메리카노, 해표 양조간장 , 콘트라베이스디카페인, 롯데 ...
...                                                               ...
2022-09-01 688                                           [홍로사과 10입/봉]
           689                                            [죽염 시린고 치약]
           690                                       [CJ 양념이잘배는찌개두부 ]
           691                                              [홍로사과/8개]
           692                         [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[261216 rows x 1 columns]

In [ ]:
# df_1 = a.reset_index().rename(columns={"index":"PLU_CD"})
# df_1

In [ ]:
dtl_re = dtl_gr.reset_index().rename(columns={"index":"TRAN_NO"})
dtl_re

,SAL_DT,TRAN_NO,GDS_TP_NM,GDS_NM
0,2021-09-01,1,일반,"[*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도..."
1,2021-09-01,2,일반,"[팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k..."
2,2021-09-01,2,저울상품,[한우양지국거리]
3,2021-09-01,3,일반,"[해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기 3분쇠고기짜장, 목우촌 뚝심..."
4,2021-09-01,3,저울상품,"[양념무뼈닭발, 냉장삼겹살(수입), 찰(완숙)토마토]"
...,...,...,...,...
445303,2022-09-01,688,일반,[홍로사과 10입/봉]
445304,2022-09-01,689,일반,[죽염 시린고 치약]
445305,2022-09-01,690,일반,[CJ 양념이잘배는찌개두부 ]
445306,2022-09-01,691,일반,[홍로사과/8개]
445307,2022-09-01,692,일반,"[*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]"

In [ ]:
dtl_re2 = dtl_gr2.reset_index().rename(columns={"index":"TRAN_NO"})
dtl_re2

           SAL_DT  TRAN_NO                                             GDS_NM
0      2021-09-01        1  [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
1      2021-09-01        2  [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
2      2021-09-01        3  [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기 3분쇠고기짜장, 목우촌 뚝심...
3      2021-09-01        4  [**인큐애호박 1개, 진주 천하장사, *백오이 1개, 아삭이고추(2팩), *대파 ...
4      2021-09-01        5  [칠성사이다, 롯데 그란데아메리카노, 해표 양조간장 , 콘트라베이스디카페인, 롯데 ...
...           ...      ...                                                ...
261211 2022-09-01      688                                       [홍로사과 10입/봉]
261212 2022-09-01      689                                        [죽염 시린고 치약]
261213 2022-09-01      690                                   [CJ 양념이잘배는찌개두부 ]
261214 2022-09-01      691                                          [홍로사과/8개]
261215 2022-09-01      692                     [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[261216 rows x 3 columns]

In [ ]:
dtl_re[dtl_re['SAL_DT']=='2021-09-01']

        SAL_DT  TRAN_NO                                             GDS_NM
0   2021-09-01        2                          [포카리스웨트, 맛소금 250g, 백설꽃소금]
1   2021-09-01        3                        [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
2   2021-09-01        4                                     [피망, 파프리카, 쪽파]
3   2021-09-01        5  [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
4   2021-09-01        6                                         [애호박, 애호박]
..         ...      ...                                                ...
99  2021-09-01      102                                               [청과]
100 2021-09-01      103                 [테라500ml, 진로소주16.9, 나가사까, 백설알찬소세지]
101 2021-09-01      104                     [신라면컵 6입, 좋은데이360ml, 델몬트망고1.5]
102 2021-09-01      105  [서울우유카톤, 불가리스 1줄, 스프라이트사이다, 몬스터에너지울트라355ml, 오레...
103 2021-09-01      106                                    [해피홈바퀴에어졸500ml]

[104 rows x 3 columns]

In [ ]:
# from collections import Counter

# dtl_count = Counter(','.join(map(str ,dtl_NM_3['GDS_NM'])).replace('','').split(','))
# dtl_count.most_common()

In [ ]:
dtl_re.GDS_NM

0                                [포카리스웨트, 맛소금 250g, 백설꽃소금]
1                                 [맛있는콩 찌개두부, 야채, 무궁화점보비누]
2                                                      [무]
3                                           [피망, 파프리카, 쪽파]
4        [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
                               ...
40834                                     [미에로화이, 1200아맛나]
40835                                        [동원샘물생수, 비식품]
40836         [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
40837                                 [빙그레우유, 파육계장, 옛날육개장]
40838                                                 [대파]
Name: GDS_NM, Length: 40839, dtype: object

In [ ]:
dtl_NM_3 = dtl_re['GDS_NM'].to_frame()
dtl_NM_3

                                                  GDS_NM
0                              [포카리스웨트, 맛소금 250g, 백설꽃소금]
1                            [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
2                                         [피망, 파프리카, 쪽파]
3      [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
4                                             [애호박, 애호박]
...                                                  ...
35938  [해뜨락맛김치1.2키로, 부산생탁, 예천막걸리, 빙)우유얌딸기, 1200오감자, 오...
35939                                   [미에로화이, 1200아맛나]
35940                                      [동원샘물생수, 비식품]
35941       [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
35942                           [빙그레우유, 파육계장, 옛날육개장, 대파]

[35943 rows x 1 columns]

In [ ]:
dtl_NM_3

                                                  GDS_NM
0                              [포카리스웨트, 맛소금 250g, 백설꽃소금]
1                            [무, 맛있는콩 찌개두부, 야채, 무궁화점보비누]
2                                         [피망, 파프리카, 쪽파]
3      [생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티...
4                                             [애호박, 애호박]
...                                                  ...
35938  [해뜨락맛김치1.2키로, 부산생탁, 예천막걸리, 빙)우유얌딸기, 1200오감자, 오...
35939                                   [미에로화이, 1200아맛나]
35940                                      [동원샘물생수, 비식품]
35941       [카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]
35942                           [빙그레우유, 파육계장, 옛날육개장, 대파]

[35943 rows x 1 columns]

In [ ]:
import itertools

In [ ]:
dtl_apri =dtl_mer_copy[['SAL_DT','TRAN_NO', 'GDS_NM', 'GDS_TP_NM']]
dtl_apri

          SAL_DT  TRAN_NO     GDS_NM GDS_TP_NM
0     2021-09-01        2     포카리스웨트        일반
1     2021-09-01        2   맛소금 250g        일반
2     2021-09-01        2      백설꽃소금        일반
3     2021-09-01        3          무      저울상품
4     2021-09-01        3  맛있는콩 찌개두부        일반
...          ...      ...        ...       ...
91855 2022-09-01      118     종이컵(줄)        일반
91856 2022-09-01      119      빙그레우유        일반
91857 2022-09-01      119       파육계장        일반
91858 2022-09-01      119      옛날육개장        일반
91859 2022-09-01      119         대파      저울상품

[91860 rows x 4 columns]

In [ ]:
def support(df, item_lst):
    return (df[list(item_lst)].sum(axis=1)==len(item_lst)).mean()

In [ ]:
dtl_re2['GDS_NM'] = list(map(','.join, dtl_re2['GDS_NM']))
dtl_re2['GDS_NM']

0                                    포카리스웨트,맛소금 250g,백설꽃소금
1                                     맛있는콩 찌개두부,야채,무궁화점보비누
2                                                        무
3                                               피망,파프리카,쪽파
4        생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복...
                               ...
40834                                        미에로화이,1200아맛나
40835                                           동원샘물생수,비식품
40836               카스맥주캔,필라이트후레쉬355ml,오징어땅콩,새우깡90g,종이컵(줄)
40837                                     빙그레우유,파육계장,옛날육개장
40838                                                   대파
Name: GDS_NM, Length: 40839, dtype: object

In [ ]:
dtl_re2

,SAL_DT,TRAN_NO,GDS_TP_NM,GDS_NM
0,2021-09-01,2,일반,"포카리스웨트,맛소금 250g,백설꽃소금"
1,2021-09-01,3,일반,"맛있는콩 찌개두부,야채,무궁화점보비누"
2,2021-09-01,3,저울상품,무
3,2021-09-01,4,저울상품,"피망,파프리카,쪽파"
4,2021-09-01,5,일반,"생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복..."
...,...,...,...,...
40834,2022-09-01,116,일반,"미에로화이,1200아맛나"
40835,2022-09-01,117,일반,"동원샘물생수,비식품"
40836,2022-09-01,118,일반,"카스맥주캔,필라이트후레쉬355ml,오징어땅콩,새우깡90g,종이컵(줄)"
40837,2022-09-01,119,일반,"빙그레우유,파육계장,옛날육개장"
40838,2022-09-01,119,저울상품,대파

In [ ]:
df2 = dtl_re2['GDS_NM'].to_frame()
df2

                                                  GDS_NM
0                                  포카리스웨트,맛소금 250g,백설꽃소금
1                                   맛있는콩 찌개두부,야채,무궁화점보비누
2                                                      무
3                                             피망,파프리카,쪽파
4      생생우동봉지,안성탕면멀티,삼양라면멀티,퓨어그린물티슈78*10캡,신라면 멀티,코디행복...
...                                                  ...
40834                                      미에로화이,1200아맛나
40835                                         동원샘물생수,비식품
40836             카스맥주캔,필라이트후레쉬355ml,오징어땅콩,새우깡90g,종이컵(줄)
40837                                   빙그레우유,파육계장,옛날육개장
40838                                                 대파

[40839 rows x 1 columns]

In [ ]:
dtl_re

,SAL_DT,TRAN_NO,GDS_TP_NM,GDS_NM
0,2021-09-01,2,일반,"[포카리스웨트, 맛소금 250g, 백설꽃소금]"
1,2021-09-01,3,일반,"[맛있는콩 찌개두부, 야채, 무궁화점보비누]"
2,2021-09-01,3,저울상품,[무]
3,2021-09-01,4,저울상품,"[피망, 파프리카, 쪽파]"
4,2021-09-01,5,일반,"[생생우동봉지, 안성탕면멀티, 삼양라면멀티, 퓨어그린물티슈78*10캡, 신라면 멀티..."
...,...,...,...,...
40834,2022-09-01,116,일반,"[미에로화이, 1200아맛나]"
40835,2022-09-01,117,일반,"[동원샘물생수, 비식품]"
40836,2022-09-01,118,일반,"[카스맥주캔, 필라이트후레쉬355ml, 오징어땅콩, 새우깡90g, 종이컵(줄)]"
40837,2022-09-01,119,일반,"[빙그레우유, 파육계장, 옛날육개장]"
40838,2022-09-01,119,저울상품,[대파]

In [ ]:
dtl_re2

           SAL_DT  TRAN_NO                                             GDS_NM
0      2021-09-01        1  [*양파(소), *청양고추(소), *대파 1단, *꽈리고추 (500g), *송산포도...
1      2021-09-01        2  [팽이버섯 1봉, 쌈배추(벌크)1통, *청양고추(소), 가지 1봉, *청양고추 1k...
2      2021-09-01        3  [해표 더고소한 파래김, 오뚜기 3분쇠고기카레, 오뚜기 3분쇠고기짜장, 목우촌 뚝심...
3      2021-09-01        4  [**인큐애호박 1개, 진주 천하장사, *백오이 1개, 아삭이고추(2팩), *대파 ...
4      2021-09-01        5  [칠성사이다, 롯데 그란데아메리카노, 해표 양조간장 , 콘트라베이스디카페인, 롯데 ...
...           ...      ...                                                ...
261211 2022-09-01      688                                       [홍로사과 10입/봉]
261212 2022-09-01      689                                        [죽염 시린고 치약]
261213 2022-09-01      690                                   [CJ 양념이잘배는찌개두부 ]
261214 2022-09-01      691                                          [홍로사과/8개]
261215 2022-09-01      692                     [*청상추 1봉, *단호박 1개, 델몬트바나나 1다발]

[261216 rows x 3 columns]

In [ ]:
doc = gds_a.GDS_NM
doc

0                   배송비
1                사은행사쿠폰
2                코지유리물병
3                  크지물병
4                 POM석류
              ...
72142    맥 원형후라이 대(240)
72143           맥웰빙원후/8
72144             절구 소소
72145            알뜰Y투라인
72146          맥 웰빙원후 7
Name: GDS_NM, Length: 72147, dtype: object

In [ ]:
!pip install sentence_transformers

In [ ]:
!pip install nltk

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.7)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from nltk) (4.64.1)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from nltk) (1.1.0)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.7/dist-packages (from nltk) (2022.6.2)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from nltk) (7.1.2)

In [ ]:
import numpy as np
import itertools

from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity
from sentence_transformers import SentenceTransformer
import spacy
from spacy.tokenizer import Tokenizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [ ]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(doc) # 문장 벡터화 진행

print(tfidf_matrix)

print(tfidf_vectorizer.vocabulary_)

idf = tfidf_vectorizer.idf_
print(dict(zip(tfidf_vectorizer.get_feature_names(), idf)))

In [ ]:
print(doc[[72138, 25139,36565]])

72138    맥 웰빙원후 6
25139    청정원 올리브유
36565    에어윅슬림교체용
Name: GDS_NM, dtype: object

## 데이터 정제

In [4]:
gds_a_copy = gds_a.copy()
gds_a_copy.head()

     CO_CD  STR_CD    PLU_CD  GDS_NM  GDS_CLSS_CD GDS_TP_NM  VEN_CD
0  1001294   12018         1     배송비       999999       배송료       0
1  1001294   12018         2  사은행사쿠폰       999999       배송료       0
2  1001294   12018     91770  코지유리물병        93331        일반       0
3  1001294   12018     91770    크지물병        91701        일반       0
4  1001294   12018  50390427   POM석류        12579        일반       0

In [6]:
gds_a_copy.GDS_NM.value_counts()

악세사리             120
모닝다이어리            34
현대)멀티             34
하기스매직팬티           26
멀티플레너다이어리         24
                ...
롯데 레몬워터            1
오렌지포도감귤            1
롯데 립톤복숭아캔          1
롯데 립톤아이스티 복숭아      1
맥 웰빙원후 7           1
Name: GDS_NM, Length: 59453, dtype: int64

In [7]:
gds_a_copy['GDS_NM'] = gds_a_copy['GDS_NM'].str.replace("[^ㄱ-ㅎㅏ-ㅣ가-힣 ]","")

gds_a_copy

,CO_CD,STR_CD,PLU_CD,GDS_NM,GDS_CLSS_CD,GDS_TP_NM,VEN_CD
0,1001294,12018,1,배송비,999999,배송료,0
1,1001294,12018,2,사은행사쿠폰,999999,배송료,0
2,1001294,12018,91770,코지유리물병,93331,일반,0
3,1001294,12018,91770,크지물병,91701,일반,0
4,1001294,12018,50390427,석류,12579,일반,0
...,...,...,...,...,...,...,...
72142,1001294,12018,9999999914157,맥 원형후라이 대,93330,일반,0
72143,1001294,12018,9999999914171,맥웰빙원후,93330,일반,0
72144,1001294,12018,9999999914393,절구 소소,91701,일반,0
72145,1001294,12018,9999999915079,알뜰투라인,91701,일반,0
72146,1001294,12018,9999999915833,맥 웰빙원후,91701,일반,0

In [3]:
import glob
fnames = glob.glob('/content/drive/MyDrive/Colab Notebooks/Retail/data/word_a.txt')
for fname in fnames:
    print(fname)

/content/drive/MyDrive/Colab Notebooks/Retail/data/word_a.txt

In [4]:
for fname in fnames:
    with open(fname, encoding='utf-8') as f:
        docs = [doc.strip() for doc in f]
    print(len(docs), fname.split('/')[-1])

72148 word_a.txt

In [5]:
for fname in fnames:
    with open(fname, encoding='utf-8') as f:
        docs = [doc.strip() for doc in f]
    print(len(docs), fname.split('/')[-1])

72148 word_a.txt

In [80]:
class Corpus:
    def __init__(self, fname, iter_sent=False):
        self.fname = fname
        self.iter_sent = iter_sent
        self.doc_length = 0
        self.sent_length = 0
        
    def __iter__(self):
        with open(self.fname, encoding='utf-8') as f:
            for doc in f:
                doc = doc.strip()
                # 핵심영역
                if not self.iter_sent:
                    yield doc
                    continue
                for sent in doc.split('  '):
                    yield sent
                    
    def __len__(self):
        if self.iter_sent:
            if self.sent_length == 0:
                with open(self.fname, encoding='utf-8') as f:
                    for doc in f:
                        self.sent_length += len(doc.strip().split('  '))
            return self.sent_length
        else:
            if self.doc_length == 0:
                with open(self.fname, encoding='utf-8') as f:
                    for num_doc, doc in enumerate(f):
                        continue
                    self.doc_length = (num_doc + 1)
            return self.doc_length

In [37]:
corpus_fname = '/content/drive/MyDrive/Colab Notebooks/Retail/data/word_a.txt'
corpus = Corpus(corpus_fname, iter_sent=False)

for num_doc, doc in enumerate(corpus):
    if num_doc >= 4: break
    print('%s ...\n'%doc[:100])

GDS_NM ...

배송비 ...

사은행사쿠폰 ...

코지유리물병 ...

In [38]:
%%time
len(corpus)

CPU times: user 21.4 ms, sys: 2.02 ms, total: 23.4 ms
Wall time: 29.8 ms

72148

In [ ]:
# gds_a_copy.GDS_NM.value_counts().loc[lambda x: x > 1]

In [39]:
corpus.iter_sent = True
for num_sent, sent in enumerate(corpus):
    if num_sent >= 3: break
    print('sent %d : %s \n'%(num_sent, sent))

sent 0 : GDS_NM

sent 1 : 배송비

sent 2 : 사은행사쿠폰

In [40]:
from collections import defaultdict
import sys

corpus.iter_sent = True
max_l_length = 10
min_count = 30

L = defaultdict(lambda: 0)

for num_sent, sent in enumerate(corpus):
    if num_sent % 5000 == 0:
        sys.stdout.write('\risnerting %d sents... ' % num_sent)
    for token in sent.split():
        for e in range(1, min(max_l_length, len(token)) + 1):
            subword = token[:e]
            L[subword] += 1
print('\rinserting subwords into L: done')
print('num subword = %d' % len(L))

L = {subword:freq for subword, freq in L.items() if freq >= min_count}
print('num subword = %d (after pruning with min count %d)' % (len(L), min_count))

inserting subwords into L: done
num subword = 223741
num subword = 1421 (after pruning with min count 30)

In [41]:
print(L)

{'G': 75, '배': 53, '사': 777, '코': 649, '크': 976, 'P': 132, '백': 493, '스': 1463, '0': 51, '우': 454, '우드': 47, '누': 124, '가': 392, '원': 257, '메': 396, '메이': 40, '이': 464, '버': 238, '대': 1015, '바': 681, '바이': 105, '그': 420, '그린': 133, '전': 178, '쓰': 34, '엑': 43, '엘': 232, '아': 1338, '엠': 39, '토': 281, '토마': 67, '토마토': 62, '(': 385, '거': 65, '레': 385, '레이': 35, '클': 263, '클래': 56, '클래식': 55, '플': 171, '드': 160, '드라': 35, '드라이': 35, '피': 383, '투': 237, '투명': 86, '오': 3340, '크레': 51, '동': 1513, '동서': 329, '암': 33, '내': 150, '내츄': 32, '내츄럴': 31, '트': 301, '덴': 88, '컴': 37, '허': 259, '허쉬': 112, '리': 884, '밀': 189, '아이': 409, '청': 1354, '청정': 964, '청정원': 934, '돌': 53, '파': 579, '파인': 98, '파인애': 66, '파인애플': 64, '밀크': 82, '미': 1198, '미니': 407, '하': 828, '구': 313, '구운': 137, '골': 122, '골드': 71, '듀': 139, '듀라': 38, '듀라셀': 38, '디': 226, 'M': 132, '9': 41, '알': 306, '지': 173, '프': 578, '프리': 207, '맛': 343, '질': 60, '질레': 36, '질레트': 36, '마': 838, '마하': 32, '포': 465, '크리': 213, '프레': 118, '3': 521, '3M': 80, '콘': 106, 'A': 244, '슈': 173, 'MB': 32, '개': 61, '젤': 98, '젤리': 51, '맥': 277, '땅': 121, '땅콩': 119, '초': 611, '초코': 231, '딸': 169, '딸기': 166, '식': 133, '홀': 44, '연': 163, '에': 533, '에스': 30, 'S': 128, '순': 376, '순한': 51, '중': 383, '매': 474, '매운': 101, '매운맛': 33, '카': 666, '카레': 48, '서': 287, '서울': 197, '페': 611, '크라': 251, '크라운': 238, '이금': 48, '이금기': 48, '시': 283, '기': 124, '타': 153, '로': 334, 'K': 100, '키': 519, '모': 624, '프리미': 113, '프리미엄': 111, '화': 543, '화신': 32, '다': 667, '라': 431, '참': 489, '허니': 93, '허니버': 31, '버터': 41, '치': 346, '치즈': 130, '불': 159, '어': 146, '델': 119, '델몬': 71, '델몬트': 69, '냉': 189, '나': 203, '(1': 36, '민': 53, '인': 191, '와': 152, '스파': 125, '스파게': 36, '스파게티': 36, '하림': 120, '도': 558, '도그': 57, '오리': 600, '오리지': 131, '오리지날': 31, '케': 193, '쿠': 107, '프링': 37, '프링글': 37, '프링글스': 36, 'U': 49, '스팸': 74, '뉴': 212, '뉴트': 32, '에너': 46, '얼': 78, '황': 287, '황금': 37, '레드': 35, '아몬': 95, '아몬드': 95, '도브': 122, '햄': 73, '2': 815, '후': 276, '후르': 37, '후르츠': 31, '망': 76, '망고': 64, '자': 703, '자몽': 40, '쿨': 93, '컨': 48, '퓨': 66, '소': 447, '갈': 91, '갈릭': 31, 'D': 100, '공': 64, '스카': 104, '스카치': 47, '포도': 84, '오렌': 80, '오렌지': 80, '부': 274, '줄': 55, '헤': 71, '세': 348, '까': 90, '8': 94, '샌': 30, '에이': 62, '호': 213, '아쿠': 41, '아쿠아': 30, '캔': 94, '롯': 1623, '롯데': 1586, '유': 670, '수': 455, '수채': 34, '빅': 98, '레몬': 96, '체': 124, '체리': 54, '계': 67, '4': 233, '혼': 69, '혼합': 56, '후라': 31, '포테': 53, '채': 32, '반': 127, '수입': 52, '핫': 73, '골든': 31, '스트': 46, '고': 842, '할': 31, '1': 1161, '12': 113, '노': 130, '팜': 39, '쉐': 174, '쉐프': 84, '10': 184, '100': 107, '1000': 40, '친': 52, '친환': 40, '친환경': 40, '루': 96, '퀴': 34, '항': 51, '항균': 38, '뽀': 235, '뽀로': 188, '뽀로로': 181, '국': 332, '국산': 94, '국산콩': 35, '30': 67, '300': 33, '13': 30, '15': 109, '150': 53, '20': 305, '200': 70, '6': 156, '60': 48, '600': 38, '7': 99, '간': 99, '간편': 48, '아우': 34, '한': 835, '사과': 98, '위': 189, 'T': 99, '핸': 128, '핸드': 73, '신': 510, '빨': 51, '철': 52, '단': 187, '면': 155, '석': 55, '삼': 527, '트레': 67, '트레이': 38, '태': 137, '태양': 50, '종': 269, '종이': 65, '테': 225, '뚜': 53, '다용': 138, '다용도': 138, '만': 66, '진': 426, '히': 66, '냉동': 131, '피죤': 103, '백설': 325, '농': 362, '농심': 335, '박': 100, '박스': 68, '수프': 35, '수프리': 31, '수프리모': 31, '하이': 150, '예': 131, '화미': 49, '물': 148, '번': 48, '로스': 65, '주': 136, '서주': 35, '제': 375, '안': 278, '안전': 30, '스타': 90, '해': 1130, '국내': 77, '비': 732, '팔': 68, 'L': 338, '양': 531, '원형': 70, '센': 81, '목': 256, '목우': 91, '목우촌': 91, '접': 73, '오리온': 405, '롯데)': 79, '호박': 51, '살': 73, '감': 187, '감자': 129, '봉': 83, '조': 290, '조림': 34, '고구': 68, '고구마': 68, '밤': 38, '생': 344, '생강': 40, '마늘': 56, '통': 200, '깐': 89, '양파': 44, '적': 57, '실': 195, '영': 84, '영양': 37, '솔': 68, '애': 294, '홍': 218, '롱': 52, '절': 76, '표': 49, '표고': 41, '표고버': 40, '표고버섯': 40, '새': 175, '꼬': 167, '꼬마': 47, '병': 31, '1봉': 53, '꽃': 161, '쥬': 60, '돼': 57, '돼지': 57, '로즈': 43, '무': 305, '비타': 80, '비타민': 34, '쌈': 59, '어린': 30, '신선': 41, '비트': 66, '상': 113, '유기': 178, '유기농': 167, '저': 45, '추': 37, '찹': 71, '브': 147, '컬': 103, '콜': 67, '1박': 68, '1박스': 67, '열': 39, '일': 397, '제주': 68, '동치': 36, '동치미': 36, '섬': 34, '속': 33, '곤': 30, '고추': 87, '방': 68, '보': 334, '보리': 58, '메밀': 43, '머': 98, '곰': 54, '달': 77, '은': 60, '알로': 33, '알로에': 32, '파래': 32, '강': 126, '완': 33, '옥': 201, '옥수': 102, '옥수수': 102, '찰': 124, '두': 151, '더': 352, '장': 109, '산': 208, '야': 184, '도라': 35, '약': 33, '건': 300, '참깨': 36, '들': 61, '콩': 108, '숙': 32, '슬': 132, '슬라': 46, '슬라이': 46, '슬라이스': 37, '엿': 34, '엿기': 33, '엿기름': 33, '도토': 34, '청포': 47, '다시': 87, '미역': 36, '천': 231, '죽': 68, '야채': 117, '햇': 266, '복': 138, '복숭': 64, '복숭아': 64, '앵': 45, '블': 250, '블루': 142, '블루베': 71, '블루베리': 71, '국내산': 76, '1팩': 46, '네': 246, '네오': 54, '캠': 43, '청포도': 39, '가나': 89, '*': 832, '송': 177, '흑': 87, '금': 78, '설': 62, '애플': 54, '스위': 129, '바나': 64, '바나나': 64, '몽': 113, '호두': 55, '잣': 38, '크림': 61, '샤': 365, '닭': 120, '광': 128, '날': 41, '먹': 33, '멸': 81, '멸치': 80, '문': 47, '분': 43, '빙': 216, '선': 76, '오징': 166, '오징어': 164, '육': 215, '재': 65, '절단': 43, '훈': 31, '말': 137, '볶': 194, '볶음': 168, '러': 90, '지리': 31, '특': 190, '명': 201, '북': 59, '북어': 36, '황태': 74, '건어': 36, '군': 42, '조미': 48, '맥반': 50, '맥반석': 50, '뱅': 31, '쥐': 70, '쥐포': 38, '오징어채': 35, '진미': 52, '김': 307, '왕': 104, '브라': 50, '와사': 47, '와사비': 45, '월': 73, '카카': 106, '카카오': 105, '커': 124, '커피': 87, '파스': 70, '해바': 43, '해바라': 43, '해바라기': 43, '라이': 142, '라이스': 51, '깨': 91, '검': 138, '검정': 57, '둥': 56, '찹쌀': 68, '마카': 41, '웰': 154, '웰빙': 91, '게': 53, '게토': 34, '게토레': 34, '게토레이': 34, '아이스': 153, '이지': 62, '볼': 51, '스마': 103, '스마트': 73, '유리': 31, '엔': 81, '엔젤': 32, '세이': 70, '마루': 36, '뿌': 57, '고무': 30, '바이오': 60, '정': 184, '칼': 187, '칼라': 138, '만능': 34, '쇠': 79, '우유': 38, '편': 38, 'O': 83, '집': 47, '베': 379, '손': 173, '손잡': 65, '손잡이': 65, '겨': 50, '겨울': 42, '씽': 36, '씽크': 35, '스텐': 138, '현': 119, '가야': 49, '블랙': 78, '그레': 61, '그레이': 57, '5': 194, '스피': 33, '발': 96, 'I': 38, '고급': 81, '돈': 55, '면도': 32, '신일': 114, '실리': 64, '실리콘': 64, '닥': 90, '닥터': 90, '한우': 204, '새우': 78, '업': 36, '모기': 33, '*비': 32, '천일': 68, '천일염': 48, '베지': 79, '악': 162, '악세': 146, '악세사': 125, '악세사리': 125, '락': 123, '여': 58, '한일': 65, '점': 43, '점보': 31, '*감': 30, '꼬깔': 56, '꼬깔콘': 55, '마가': 54, '마가렛': 35, '마가렛트': 34, '몽쉘': 35, '카스': 97, '카스타': 44, '카스타드': 44, '1단': 45, '베이': 157, '베이비': 51, '김치': 108, '짱': 45, '화이': 337, '화이트': 323, '사각': 105, '비닐': 31, '롯데/': 275, 'LG': 234, '처': 49, '처음': 49, '처음처': 46, '처음처럼': 46, '참이': 55, '참이슬': 51, '하이트': 56, '18': 59, '샤프': 182, '샤프란': 173, '썬': 106, '베이킹': 53, '과': 124, '과일': 99, '데': 299, '2k': 30, '캐': 108, '칸': 77, '창': 98, '푸': 92, '25': 49, '250': 35, '청은': 35, '펭': 41, '펭귄': 37, '액': 118, '액자': 30, '컵': 113, '음': 46, '샤워': 66, '데톨': 73, '죽염': 52, '페리': 269, '페리오': 262, '1k': 44, '1kg': 41, '옥시': 63, 'C': 1149, 'CJ': 1056, '빼': 118, '빼빼': 109, '빼빼로': 109, '포스': 51, '햇반': 101, '트리': 73, '엘라': 60, '엘라스': 45, '엘라스틴': 43, '메디': 128, '메디안': 118, '해태': 390, '칠': 308, '칠갑': 184, '오뚜': 1476, '오뚜기': 1459, '부산': 46, '부산어': 34, '부산어묵': 33, '매일': 122, '쌀': 148, '땡': 37, '아카': 33, '종가': 129, '종가집': 120, '요': 286, '요리': 78, '쁘': 111, '쁘띠': 105, '쁘띠첼': 87, '순창': 69, '큐': 69, '하기': 167, '하기스': 167, '차': 75, '순수': 53, '데코': 30, '폴': 61, '드림': 32, '오)': 106, '패': 62, '벨': 68, '헤어': 31, '케이': 39, '남': 233, '남양': 135, '하트': 42, '나무': 39, '카라': 37, '체크': 35, '핑': 102, '핑크': 92, '말보': 33, '다이': 100, '크리스': 72, '크리스탈': 53, '소프': 93, '소프트': 89, '너': 35, '파우': 32, '유진': 44, '떡': 44, '208': 169, '2080': 169, '포카': 56, '코카': 162, '코카콜': 42, '코카콜라': 42, '귀': 51, '럭': 52, '짜': 81, '자연': 238, '락스': 36, '직': 61, '치킨': 95, '햇미': 65, '햇미소': 65, '팝': 39, '현미': 53, '종합': 64, '양념': 77, '스프': 67, '디자': 56, '디자인': 56, '위스': 89, '위스퍼': 77, '엘지': 107, '츄': 36, '크린': 222, '자일': 106, '자일리': 99, '자일리톨': 98, '유한': 80, '청)': 57, '맥스': 85, '스파크': 38, '건강': 63, '천연': 43, '우리': 162, '우리쌀': 75, '강화': 34, '현대': 64, '빠': 43, '쫄': 45, '삼육': 37, '칠성': 41, '칠성사': 38, '칠성사이': 38, '칠성사이다': 38, '홍삼': 56, '쉐리': 59, '모닝': 256, '진주': 61, 'B': 117, '리큐': 48, '1.': 50, '성': 47, '용': 88, '14': 45, '경': 69, '행': 154, '행사': 33, '3단': 31, '황토': 51, '풍': 62, '임': 48, '베트': 37, '50': 50, '500': 32, '고향': 37, '맥심': 69, '휴': 43, '코디': 95, '카누': 67, '트롤': 32, '트롤리': 32, '24': 56, 'PP': 46, '유니': 47, '40': 45, '신라': 39, '신라면': 39, '일회': 31, '일회용': 31, '오가': 37, '맛있': 115, '맛있는': 115, '풀': 408, '풀무': 330, '풀무원': 329, '에코': 45, '위생': 45, '[': 321, '스테': 48, '스위트': 108, '퍼': 186, 'H': 123, '구름': 33, '앙': 39, '깔': 33, '매직': 89, '담': 125, '120': 32, '프로': 73, '오랄': 73, '오랄비': 73, '후레': 89, '후레쉬': 71, '향': 76, '샴': 58, '딥': 33, '플레': 54, '16': 48, '쏘': 130, '씨': 81, '뚝': 40, '락앤': 53, '락앤락': 53, '믹': 33, '밥': 36, '내추': 49, '내추럴': 49, '멜': 31, '파스텔': 32, '펜': 35, '테크': 118, 'H&': 73, 'H&S': 72, '등': 37, '안심': 90, '국내산돈': 37, '스페': 32, '몬': 55, '본': 56, '좋': 291, '좋은': 288, '좋은느': 200, '좋은느낌': 200, '좋은느낌뉴': 31, '크런': 78, '퓨어': 36, '해피': 271, '웨': 37, '베리': 32, '필': 78, '켈': 37, '니': 59, '아트': 67, '펄': 35, '립': 53, '모이': 30, '키즈': 56, '워': 44, '리프': 33, '파워': 176, '쿡': 44, '메탈': 31, '메비': 41, '메비우': 41, '메비우스': 41, 'E': 245, '스타일': 31, '온': 175, '애니': 98, '슬림': 59, '바디': 51, '주방': 42, '탑': 32, '킨': 30, '바닐': 40, '바닐라': 39, '키친': 107, '사골': 32, '도마': 39, '쉬': 44, '휴대': 34, '휴대용': 33, '티': 131, '울': 61, '수퍼': 47, '동아': 50, '오리지널': 100, '세탁': 33, '그레이드': 37, '라벤': 42, '마이': 162, '포켓': 56, '포켓몬': 31, '마일': 33, '마일드': 33, '참치': 78, '페브': 131, '페브리': 129, '페브리즈': 129, '팬': 121, '팬틴': 81, '허브': 41, '다우': 133, '다우니': 133, '리필': 127, '용기': 69, '에어': 120, '퍼퓸': 61, '미스': 48, '아로': 48, '아로마': 44, '샴푸': 52, 'c': 32, '깨끗': 60, '깨끗한': 53, '데일': 55, '데일리': 55, '플라': 34, '오레': 38, '오레오': 36, '던': 96, '키티': 148, '칫': 37, '칫솔': 37, '올': 221, '올리': 117, '올리브': 95, '녹': 137, '녹차': 100, '숯': 38, '찬': 34, '욕': 32, '터': 46, '코코': 91, '논': 38, '가쓰': 40, '가쓰오': 39, '러브': 45, '더블': 98, '싱': 34, '헬': 164, '헬로': 83, '헬로키': 41, '헬로키티': 40, '덴마': 31, '덴마크': 31, '무궁': 46, '무궁화': 46, '액티': 39, '닭가': 34, '닭가슴': 34, '닭가슴살': 31, '캡': 40, '양면': 48, '검정색': 31, '검은': 81, '버블': 104, '레인': 51, '레인보': 37, '레인보우': 37, '슈퍼': 89, '바삭': 30, '옛': 155, '옛날': 147, '원터': 40, '원터치': 40, '심': 80, '심플': 46, '키세': 39, '키세스': 39, '아폴': 33, '세라': 32, 'LE': 37, 'LED': 37, '양장': 37, '스포': 35, '스포츠': 34, '달콤': 38, '탱': 37, '폰': 39, 'LG)': 38, '고기': 56, '롤': 50, '카페': 38, '이츠': 55, '글': 96, '면사': 63, '면사랑': 63, '올리브유': 32, '빙그': 130, '빙그레': 130, '이츠웰': 50, '라이트': 30, '멀': 188, '멀티': 188, '36': 35, '육우': 143, '일반': 78, '오즈': 35, '[잡': 41, '[잡곡': 41, '[잡곡]': 41, '김장': 49, '베지밀': 74, '하나': 34, '레종': 32, '아침': 55, '아침에': 30, '리치': 49, '대일': 54, '대일.': 30, '샘': 196, '샘표': 187, '진간': 33, '진간장': 33, '양조': 37, '재래': 45, '쇠고': 74, '쇠고기': 74, '진공': 39, '비빔': 32, '얼큰': 31, '육개': 33, '육개장': 33, '프렌': 67, '프렌치': 56, '행복': 102, '행복한': 56, 'cj': 30, '제로': 39, '진한': 46, '홈': 259, 'CJ비': 33, '맥스봉': 41, '참그': 57, '참그린': 52, '행복한콩': 43, '오븐': 57, '프레시': 42, '명가': 44, '해찬': 34, '해찬들': 34, '새콤': 53, '새콤달': 39, '새콤달콤': 39, '잘': 59, '하선': 65, '하선정': 64, '컨디': 32, '해물': 58, 'CJ)': 42, '그릴': 41, '더건': 83, '더건강': 81, '더건강한': 74, '삼호': 50, '한입': 85, '평': 30, '튀': 45, '튀김': 43, '김밥': 35, '제일': 32, '고소': 82, '고소한': 54, '함': 61, 'V': 44, 'CJ비비': 30, 'CJ비비고': 30, '비비': 222, '비비고': 194, '비비고/': 59, '궁': 31, '명품': 40, '알래': 30, '알래스': 30, '매콤': 77, '고메': 74, '직화': 36, '불고': 51, '불고기': 51, '콤': 30, '리얼': 95, '뿌리': 33, '꿀': 74, '누룽': 38, '누룽지': 38, '존': 71, '존슨': 33, '아크': 32, '토탈': 32, '클리': 49, '클리어': 41, '삼양': 84, '굿': 72, '썬키': 36, '썬키스': 35, '썬키스트': 35, '에이스': 38, '홈런': 30, '홈런볼': 30, '부라': 40, '부라보': 34, '앵그': 37, '앵그리': 36, '시크': 32, '시크릿': 31, '[해': 49, '스낵': 33, '생생': 43, '바베': 30, '바베큐': 30, '데이': 34, '검은콩': 63, '클라': 37, '클라우': 35, '클라우드': 35, '별': 63, '포스트': 32, '모카': 35, '시그': 40, '해표': 224, '사조': 331, '광천': 51, '카라멜': 30, '해표]': 68, '미장': 140, '미장센': 140, '해피바': 154, '해피바스': 153, '려': 92, '미쟝': 108, '미쟝센': 107, '댄': 34, '퍼펙': 39, '퍼펙트': 39, '데미': 33, '웰치': 47, '지퍼': 52, '오즈키': 32, '오즈키친': 32, '정통': 39, '3분': 30, '의': 63, '컵밥': 31, '동원': 897, '알뜰': 37, '컬러': 83, '컵누': 34, '컵누들': 34, '살코': 30, '살코기': 30, '또': 44, '오감': 30, '애경': 105, '순샘': 39, '샤워메': 39, '샤워메이': 39, '샤워메이트': 38, '케라': 97, '케라시': 52, '케라시스': 50, '홈즈': 43, '드럼': 34, '퀸': 59, '150g': 30, '홍초': 32, '[동': 32, '[동원': 31, '[동원]': 31, '동원]': 128, '양반': 94, '동원)': 47, 'F': 41, '엘지)': 49, 'ES': 223, '온더': 72, '온더바': 41, '온더바디': 41, '온)': 71, '자연퐁': 56, '아우라': 32, '홈스': 85, '홈스타': 81, 'AU': 36, 'AUR': 36, 'AURA': 36, '리엔': 110, '대나': 38, '대나무': 38, '토디': 45, '토디앙': 44, '냄': 50, '냄새': 46, '디펜': 32, '테라': 30, 'AB': 31, '중형': 33, '대형': 41, '푸드': 35, '쉐프원': 48, '안주': 49, '안주야': 37, '맛선': 41, '맛선생': 41, '호밍': 37, '호밍스': 37, 'TC': 42, '초이': 31, '초이스': 31, '네스': 58, '네스카': 39, '네스카페': 39, '칸타': 45, '칸타타': 45, '립톤': 40, '말랑': 42, '목캔': 41, '목캔디': 41, '크런키': 51, '리락': 54, '리락쿠': 48, '리락쿠마': 48, '치토': 33, '치토스': 33, '쌀로': 34, '핸디': 37, '대림': 310, '오양': 73, '한성': 141, '모나': 35, '예감': 38, '삼립': 83, '필라': 32, '써': 44, '프렌치카': 35, '프렌치카페': 34, '마키': 37, '불가': 33, '불가리': 32, '불가리스': 30, '순창궁': 36, '마미': 30, '켈로': 33, '켈로그': 32, '미닛': 88, '조지': 48, '조지아': 48, '글라': 47, '투게': 31, '투게더': 31, '미니쉘': 30, '마이쮸': 55, '산도': 62, '풀)': 32, '자연은': 45, '에쎄': 47, 'Y': 32, '던힐': 95, '마켓': 30, '마켓오': 30, '다이제': 41, '포카칩': 36, '의성': 37, '의성마': 36, '의성마늘': 36, '깨끗한나': 43, '깨끗한나라': 43, '팔도': 42, 't': 38, '냄새하': 33, '냄새하마': 33, '에어윅': 66, '몽고': 34, '크리넥': 120, '크리넥스': 120, '스카트': 42, 'GF': 38, '화이트시': 42, '화이트시크': 42, '화이트시크릿': 40, '애니데': 40, '애니데이': 40, '하기스매': 57, '하기스매직': 57, '하기스매직팬': 43, '하기스매직팬티': 43, '하기스프': 30, '하기스프리': 30, '하기스프리미': 30, '말보로': 32, '국제': 30, '롯데/(': 34, 'A4': 115, '모닝)': 44, '투칼': 40, '투칼라': 40, '화일': 31, '초등': 171, '초등1': 67, '초등1-': 59, '초등1-2': 59, '초등3': 44, '초등3-': 43, '초등3-6': 42, 'A4사': 30, 'A4사출': 30, '캐릭': 59, '캐릭터': 58, '캐릭터연': 35, '캐릭터연필': 35, '캐릭터연필세': 34, '캐릭터연필세트': 34, '중성': 39, '중성지': 33, '모닝다': 34, '모닝다이': 34, '모닝다이어': 34, '모닝다이어리': 34, '중고': 123, '중고무': 43, '중고무제': 43, '중고S': 47, '중고SP': 47, '모던': 34, '시스': 33, '크린랩': 59, '일미': 96, '산도깨': 53, '산도깨비': 53, '고려': 30, '움': 55, '움트': 52, '움트리': 52, '초야': 39, '뚜레': 37, '뚜레반': 36, '올찬': 55, '리빙': 58, '아트존': 37, '또봇': 34, '유닉': 57, '유닉스': 56, '대원': 58, '글라스': 44, '담터': 74, '송학': 108, '그루': 35, '*락': 39, '창.': 52, '창-': 30, '밧': 30, '키친아': 50, '키친아트': 50, '키아': 43, '풍년': 34, '에일': 32, '세신': 44, '듀.': 37, '헬.': 45, '광동': 55, '해피홈': 46, '1P': 30, 'j': 75, 'jj': 75, '마.': 35, '칠.': 60, '반도': 36, '존쿡': 35, '단지': 54, '현대)': 39, '현대)멀': 34, '현대)멀티': 34, '쏘피': 121, '손수': 30, '카네': 33, '제노': 59, '신광': 45, '그루머': 33, '두영': 38, '예지': 50, '수드': 39, '수드림': 38, '잘풀': 49, '잘풀리': 48, '잘풀리는': 48, '잘풀리는집': 47, '아워': 51, '아워홈': 51, '그-': 32, '마루오': 33, '액티비': 36, '액티비아': 36, '페.': 86}

In [42]:
L

{'G': 75,
 '배': 53,
 '사': 777,
 '코': 649,
 '크': 976,
 'P': 132,
 '백': 493,
 '스': 1463,
 '0': 51,
 '우': 454,
 '우드': 47,
 '누': 124,
 '가': 392,
 '원': 257,
 '메': 396,
 '메이': 40,
 '이': 464,
 '버': 238,
 '대': 1015,
 '바': 681,
 '바이': 105,
 '그': 420,
 '그린': 133,
 '전': 178,
 '쓰': 34,
 '엑': 43,
 '엘': 232,
 '아': 1338,
 '엠': 39,
 '토': 281,
 '토마': 67,
 '토마토': 62,
 '(': 385,
 '거': 65,
 '레': 385,
 '레이': 35,
 '클': 263,
 '클래': 56,
 '클래식': 55,
 '플': 171,
 '드': 160,
 '드라': 35,
 '드라이': 35,
 '피': 383,
 '투': 237,
 '투명': 86,
 '오': 3340,
 '크레': 51,
 '동': 1513,
 '동서': 329,
 '암': 33,
 '내': 150,
 '내츄': 32,
 '내츄럴': 31,
 '트': 301,
 '덴': 88,
 '컴': 37,
 '허': 259,
 '허쉬': 112,
 '리': 884,
 '밀': 189,
 '아이': 409,
 '청': 1354,
 '청정': 964,
 '청정원': 934,
 '돌': 53,
 '파': 579,
 '파인': 98,
 '파인애': 66,
 '파인애플': 64,
 '밀크': 82,
 '미': 1198,
 '미니': 407,
 '하': 828,
 '구': 313,
 '구운': 137,
 '골': 122,
 '골드': 71,
 '듀': 139,
 '듀라': 38,
 '듀라셀': 38,
 '디': 226,
 'M': 132,
 '9': 41,
 '알': 306,
 '지': 173,
 '프': 578,
 '프리': 207,
 '맛': 343,
 '질': 60,
 '질레': 36,
 '질레트': 36,
 '마': 838,
 '마하': 32,
 '포': 465,
 '크리': 213,
 '프레': 118,
 '3': 521,
 '3M': 80,
 '콘': 106,
 'A': 244,
 '슈': 173,
 'MB': 32,
 '개': 61,
 '젤': 98,
 '젤리': 51,
 '맥': 277,
 '땅': 121,
 '땅콩': 119,
 '초': 611,
 '초코': 231,
 '딸': 169,
 '딸기': 166,
 '식': 133,
 '홀': 44,
 '연': 163,
 '에': 533,
 '에스': 30,
 'S': 128,
 '순': 376,
 '순한': 51,
 '중': 383,
 '매': 474,
 '매운': 101,
 '매운맛': 33,
 '카': 666,
 '카레': 48,
 '서': 287,
 '서울': 197,
 '페': 611,
 '크라': 251,
 '크라운': 238,
 '이금': 48,
 '이금기': 48,
 '시': 283,
 '기': 124,
 '타': 153,
 '로': 334,
 'K': 100,
 '키': 519,
 '모': 624,
 '프리미': 113,
 '프리미엄': 111,
 '화': 543,
 '화신': 32,
 '다': 667,
 '라': 431,
 '참': 489,
 '허니': 93,
 '허니버': 31,
 '버터': 41,
 '치': 346,
 '치즈': 130,
 '불': 159,
 '어': 146,
 '델': 119,
 '델몬': 71,
 '델몬트': 69,
 '냉': 189,
 '나': 203,
 '(1': 36,
 '민': 53,
 '인': 191,
 '와': 152,
 '스파': 125,
 '스파게': 36,
 '스파게티': 36,
 '하림': 120,
 '도': 558,
 '도그': 57,
 '오리': 600,
 '오리지': 131,
 '오리지날': 31,
 '케': 193,
 '쿠': 107,
 '프링': 37,
 '프링글': 37,
 '프링글스': 36,
 'U': 49,
 '스팸': 74,
 '뉴': 212,
 '뉴트': 32,
 '에너': 46,
 '얼': 78,
 '황': 287,
 '황금': 37,
 '레드': 35,
 '아몬': 95,
 '아몬드': 95,
 '도브': 122,
 '햄': 73,
 '2': 815,
 '후': 276,
 '후르': 37,
 '후르츠': 31,
 '망': 76,
 '망고': 64,
 '자': 703,
 '자몽': 40,
 '쿨': 93,
 '컨': 48,
 '퓨': 66,
 '소': 447,
 '갈': 91,
 '갈릭': 31,
 'D': 100,
 '공': 64,
 '스카': 104,
 '스카치': 47,
 '포도': 84,
 '오렌': 80,
 '오렌지': 80,
 '부': 274,
 '줄': 55,
 '헤': 71,
 '세': 348,
 '까': 90,
 '8': 94,
 '샌': 30,
 '에이': 62,
 '호': 213,
 '아쿠': 41,
 '아쿠아': 30,
 '캔': 94,
 '롯': 1623,
 '롯데': 1586,
 '유': 670,
 '수': 455,
 '수채': 34,
 '빅': 98,
 '레몬': 96,
 '체': 124,
 '체리': 54,
 '계': 67,
 '4': 233,
 '혼': 69,
 '혼합': 56,
 '후라': 31,
 '포테': 53,
 '채': 32,
 '반': 127,
 '수입': 52,
 '핫': 73,
 '골든': 31,
 '스트': 46,
 '고': 842,
 '할': 31,
 '1': 1161,
 '12': 113,
 '노': 130,
 '팜': 39,
 '쉐': 174,
 '쉐프': 84,
 '10': 184,
 '100': 107,
 '1000': 40,
 '친': 52,
 '친환': 40,
 '친환경': 40,
 '루': 96,
 '퀴': 34,
 '항': 51,
 '항균': 38,
 '뽀': 235,
 '뽀로': 188,
 '뽀로로': 181,
 '국': 332,
 '국산': 94,
 '국산콩': 35,
 '30': 67,
 '300': 33,
 '13': 30,
 '15': 109,
 '150': 53,
 '20': 305,
 '200': 70,
 '6': 156,
 '60': 48,
 '600': 38,
 '7': 99,
 '간': 99,
 '간편': 48,
 '아우': 34,
 '한': 835,
 '사과': 98,
 '위': 189,
 'T': 99,
 '핸': 128,
 '핸드': 73,
 '신': 510,
 '빨': 51,
 '철': 52,
 '단': 187,
 '면': 155,
 '석': 55,
 '삼': 527,
 '트레': 67,
 '트레이': 38,
 '태': 137,
 '태양': 50,
 '종': 269,
 '종이': 65,
 '테': 225,
 '뚜': 53,
 '다용': 138,
 '다용도': 138,
 '만': 66,
 '진': 426,
 '히': 66,
 '냉동': 131,
 '피죤': 103,
 '백설': 325,
 '농': 362,
 '농심': 335,
 '박': 100,
 '박스': 68,
 '수프': 35,
 '수프리': 31,
 '수프리모': 31,
 '하이': 150,
 '예': 131,
 '화미': 49,
 '물': 148,
 '번': 48,
 '로스': 65,
 '주': 136,
 '서주': 35,
 '제': 375,
 '안': 278,
 '안전': 30,
 '스타': 90,
 '해': 1130,
 '국내': 77,
 '비': 732,
 '팔': 68,
 'L': 338,
 '양': 531,
 '원형': 70,
 '센': 81,
 '목': 256,
 '목우': 91,
 '목우촌': 91,
 '접': 73,
 '오리온': 405,
 '롯데)': 79,
 '호박': 51,
 '살': 73,
 '감': 187,
 '감자': 129,
 '봉': 83,
 '조': 290,
 '조림': 34,
 '고구': 68,
 '고구마': 68,
 '밤': 38,
 '생': 344,
 '생강': 40,
 '마늘': 56,
 '통': 200,
 '깐': 89,
 '양파': 44,
 '적': 57,
 '실': 195,
 '영': 84,
 '영양': 37,
 '솔': 68,
 '애': 294,
 '홍': 218,
 '롱': 52,
 '절': 76,
 '표': 49,
 '표고': 41,
 '표고버': 40,
 '표고버섯': 40,
 '새': 175,
 '꼬': 167,
 '꼬마': 47,
 '병': 31,
 '1봉': 53,
 '꽃': 161,
 '쥬': 60,
 '돼': 57,
 '돼지': 57,
 '로즈': 43,
 '무': 305,
 '비타': 80,
 '비타민': 34,
 '쌈': 59,
 '어린': 30,
 '신선': 41,
 '비트': 66,
 '상': 113,
 '유기': 178,
 '유기농': 167,
 '저': 45,
 '추': 37,
 '찹': 71,
 '브': 147,
 '컬': 103,
 '콜': 67,
 '1박': 68,
 '1박스': 67,
 '열': 39,
 '일': 397,
 '제주': 68,
 '동치': 36,
 '동치미': 36,
 '섬': 34,
 '속': 33,
 '곤': 30,
 '고추': 87,
 '방': 68,
 '보': 334,
 '보리': 58,
 '메밀': 43,
 '머': 98,
 '곰': 54,
 '달': 77,
 '은': 60,
 '알로': 33,
 '알로에': 32,
 '파래': 32,
 '강': 126,
 '완': 33,
 '옥': 201,
 '옥수': 102,
 '옥수수': 102,
 '찰': 124,
 '두': 151,
 '더': 352,
 '장': 109,
 '산': 208,
 '야': 184,
 '도라': 35,
 '약': 33,
 '건': 300,
 '참깨': 36,
 '들': 61,
 '콩': 108,
 '숙': 32,
 '슬': 132,
 '슬라': 46,
 '슬라이': 46,
 '슬라이스': 37,
 '엿': 34,
 '엿기': 33,
 '엿기름': 33,
 '도토': 34,
 '청포': 47,
 '다시': 87,
 '미역': 36,
 '천': 231,
 '죽': 68,
 '야채': 117,
 '햇': 266,
 '복': 138,
 '복숭': 64,
 '복숭아': 64,
 '앵': 45,
 '블': 250,
 '블루': 142,
 '블루베': 71,
 '블루베리': 71,
 '국내산': 76,
 '1팩': 46,
 '네': 246,
 '네오': 54,
 '캠': 43,
 '청포도': 39,
 '가나': 89,
 '*': 832,
 '송': 177,
 '흑': 87,
 '금': 78,
 '설': 62,
 '애플': 54,
 '스위': 129,
 '바나': 64,
 '바나나': 64,
 '몽': 113,
 '호두': 55,
 '잣': 38,
 '크림': 61,
 '샤': 365,
 '닭': 120,
 '광': 128,
 '날': 41,
 '먹': 33,
 '멸': 81,
 '멸치': 80,
 '문': 47,
 '분': 43,
 '빙': 216,
 '선': 76,
 '오징': 166,
 '오징어': 164,
 '육': 215,
 '재': 65,
 '절단': 43,
 '훈': 31,
 '말': 137,
 '볶': 194,
 '볶음': 168,
 '러': 90,
 '지리': 31,
 '특': 190,
 '명': 201,
 '북': 59,
 '북어': 36,
 '황태': 74,
 '건어': 36,
 '군': 42,
 '조미': 48,
 '맥반': 50,
 '맥반석': 50,
 '뱅': 31,
 '쥐': 70,
 '쥐포': 38,
 '오징어채': 35,
 '진미': 52,
 '김': 307,
 '왕': 104,
 '브라': 50,
 '와사': 47,
 '와사비': 45,
 '월': 73,
 '카카': 106,
 '카카오': 105,
 '커': 124,
 '커피': 87,
 '파스': 70,
 '해바': 43,
 '해바라': 43,
 '해바라기': 43,
 '라이': 142,
 '라이스': 51,
 '깨': 91,
 '검': 138,
 '검정': 57,
 '둥': 56,
 '찹쌀': 68,
 '마카': 41,
 '웰': 154,
 '웰빙': 91,
 '게': 53,
 '게토': 34,
 '게토레': 34,
 '게토레이': 34,
 '아이스': 153,
 '이지': 62,
 '볼': 51,
 '스마': 103,
 '스마트': 73,
 '유리': 31,
 '엔': 81,
 '엔젤': 32,
 '세이': 70,
 '마루': 36,
 '뿌': 57,
 '고무': 30,
 '바이오': 60,
 '정': 184,
 '칼': 187,
 '칼라': 138,
 '만능': 34,
 '쇠': 79,
 '우유': 38,
 '편': 38,
 'O': 83,
 '집': 47,
 '베': 379,
 '손': 173,
 '손잡': 65,
 '손잡이': 65,
 '겨': 50,
 '겨울': 42,
 '씽': 36,
 '씽크': 35,
 '스텐': 138,
 '현': 119,
 '가야': 49,
 '블랙': 78,
 '그레': 61,
 '그레이': 57,
 '5': 194,
 '스피': 33,
 '발': 96,
 'I': 38,
 '고급': 81,
 '돈': 55,
 '면도': 32,
 '신일': 114,
 '실리': 64,
 '실리콘': 64,
 '닥': 90,
 '닥터': 90,
 '한우': 204,
 '새우': 78,
 '업': 36,
 '모기': 33,
 '*비': 32,
 '천일': 68,
 '천일염': 48,
 '베지': 79,
 '악': 162,
 '악세': 146,
 '악세사': 125,
 '악세사리': 125,
 '락': 123,
 '여': 58,
 '한일': 65,
 '점': 43,
 '점보': 31,
 '*감': 30,
 '꼬깔': 56,
 '꼬깔콘': 55,
 '마가': 54,
 '마가렛': 35,
 '마가렛트': 34,
 '몽쉘': 35,
 '카스': 97,
 '카스타': 44,
 '카스타드': 44,
 '1단': 45,
 '베이': 157,
 '베이비': 51,
 '김치': 108,
 '짱': 45,
 '화이': 337,
 '화이트': 323,
 '사각': 105,
 '비닐': 31,
 '롯데/': 275,
 'LG': 234,
 '처': 49,
 '처음': 49,
 '처음처': 46,
 '처음처럼': 46,
 '참이': 55,
 '참이슬': 51,
 '하이트': 56,
 '18': 59,
 '샤프': 182,
 '샤프란': 173,
 '썬': 106,
 '베이킹': 53,
 '과': 124,
 '과일': 99,
 '데': 299,
 '2k': 30,
 '캐': 108,
 '칸': 77,
 '창': 98,
 '푸': 92,
 '25': 49,
 '250': 35,
 '청은': 35,
 '펭': 41,
 '펭귄': 37,
 '액': 118,
 '액자': 30,
 '컵': 113,
 '음': 46,
 '샤워': 66,
 '데톨': 73,
 '죽염': 52,
 '페리': 269,
 '페리오': 262,
 '1k': 44,
 '1kg': 41,
 '옥시': 63,
 'C': 1149,
 'CJ': 1056,
 '빼': 118,
 '빼빼': 109,
 '빼빼로': 109,
 '포스': 51,
 '햇반': 101,
 '트리': 73,
 '엘라': 60,
 '엘라스': 45,
 '엘라스틴': 43,
 '메디': 128,
 '메디안': 118,
 '해태': 390,
 '칠': 308,
 '칠갑': 184,
 '오뚜': 1476,
 '오뚜기': 1459,
 '부산': 46,
 '부산어': 34,
 '부산어묵': 33,
 '매일': 122,
 '쌀': 148,
 '땡': 37,
 '아카': 33,
 '종가': 129,
 '종가집': 120,
 '요': 286,
 '요리': 78,
 '쁘': 111,
 '쁘띠': 105,
 '쁘띠첼': 87,
 '순창': 69,
 '큐': 69,
 '하기': 167,
 '하기스': 167,
 '차': 75,
 '순수': 53,
 '데코': 30,
 '폴': 61,
 '드림': 32,
 '오)': 106,
 '패': 62,
 '벨': 68,
 '헤어': 31,
 '케이': 39,
 '남': 233,
 '남양': 135,
 '하트': 42,
 '나무': 39,
 '카라': 37,
 '체크': 35,
 '핑': 102,
 '핑크': 92,
 '말보': 33,
 '다이': 100,
 '크리스': 72,
 '크리스탈': 53,
 '소프': 93,
 '소프트': 89,
 '너': 35,
 '파우': 32,
 '유진': 44,
 '떡': 44,
 '208': 169,
 '2080': 169,
 '포카': 56,
 '코카': 162,
 '코카콜': 42,
 '코카콜라': 42,
 '귀': 51,
 '럭': 52,
 '짜': 81,
 '자연': 238,
 '락스': 36,
 '직': 61,
 '치킨': 95,
 '햇미': 65,
 '햇미소': 65,
 '팝': 39,
 '현미': 53,
 '종합': 64,
 '양념': 77,
 '스프': 67,
 '디자': 56,
 '디자인': 56,
 '위스': 89,
 '위스퍼': 77,
 '엘지': 107,
 '츄': 36,
 '크린': 222,
 '자일': 106,
 '자일리': 99,
 '자일리톨': 98,
 '유한': 80,
 '청)': 57,
 '맥스': 85,
 '스파크': 38,
 '건강': 63,
 '천연': 43,
 '우리': 162,
 '우리쌀': 75,
 '강화': 34,
 '현대': 64,
 '빠': 43,
 '쫄': 45,
 '삼육': 37,
 '칠성': 41,
 '칠성사': 38,
 '칠성사이': 38,
 '칠성사이다': 38,
 '홍삼': 56,
 '쉐리': 59,
 '모닝': 256,
 '진주': 61,
 'B': 117,
 '리큐': 48,
 '1.': 50,
 '성': 47,
 '용': 88,
 '14': 45,
 '경': 69,
 '행': 154,
 '행사': 33,
 '3단': 31,
 '황토': 51,
 '풍': 62,
 '임': 48,
 '베트': 37,
 '50': 50,
 '500': 32,
 '고향': 37,
 '맥심': 69,
 '휴': 43,
 '코디': 95,
 '카누': 67,
 '트롤': 32,
 '트롤리': 32,
 '24': 56,
 'PP': 46,
 '유니': 47,
 '40': 45,
 '신라': 39,
 '신라면': 39,
 '일회': 31,
 '일회용': 31,
 '오가': 37,
 '맛있': 115,
 '맛있는': 115,
 '풀': 408,
 '풀무': 330,
 '풀무원': 329,
 '에코': 45,
 '위생': 45,
 '[': 321,
 '스테': 48,
 '스위트': 108,
 '퍼': 186,
 'H': 123,
 '구름': 33,
 '앙': 39,
 '깔': 33,
 '매직': 89,
 '담': 125,
 '120': 32,
 '프로': 73,
 '오랄': 73,
 '오랄비': 73,
 '후레': 89,
 '후레쉬': 71,
 '향': 76,
 '샴': 58,
 '딥': 33,
 '플레': 54,
 '16': 48,
 '쏘': 130,
 '씨': 81,
 '뚝': 40,
 '락앤': 53,
 '락앤락': 53,
 '믹': 33,
 '밥': 36,
 '내추': 49,
 '내추럴': 49,
 '멜': 31,
 '파스텔': 32,
 '펜': 35,
 '테크': 118,
 'H&': 73,
 'H&S': 72,
 '등': 37,
 '안심': 90,
 '국내산돈': 37,
 '스페': 32,
 '몬': 55,
 '본': 56,
 '좋': 291,
 '좋은': 288,
 '좋은느': 200,
 '좋은느낌': 200,
 '좋은느낌뉴': 31,
 '크런': 78,
 '퓨어': 36,
 '해피': 271,
 '웨': 37,
 '베리': 32,
 '필': 78,
 '켈': 37,
 '니': 59,
 '아트': 67,
 '펄': 35,
 '립': 53,
 '모이': 30,
 '키즈': 56,
 '워': 44,
 '리프': 33,
 '파워': 176,
 '쿡': 44,
 '메탈': 31,
 '메비': 41,
 '메비우': 41,
 '메비우스': 41,
 'E': 245,
 '스타일': 31,
 '온': 175,
 '애니': 98,
 '슬림': 59,
 '바디': 51,
 '주방': 42,
 '탑': 32,
 '킨': 30,
 '바닐': 40,
 '바닐라': 39,
 '키친': 107,
 '사골': 32,
 '도마': 39,
 '쉬': 44,
 '휴대': 34,
 '휴대용': 33,
 '티': 131,
 '울': 61,
 '수퍼': 47,
 '동아': 50,
 '오리지널': 100,
 '세탁': 33,
 '그레이드': 37,
 '라벤': 42,
 '마이': 162,
 '포켓': 56,
 '포켓몬': 31,
 '마일': 33,
 '마일드': 33,
 '참치': 78,
 '페브': 131,
 '페브리': 129,
 '페브리즈': 129,
 '팬': 121,
 '팬틴': 81,
 '허브': 41,
 '다우': 133,
 '다우니': 133,
 '리필': 127,
 '용기': 69,
 '에어': 120,
 '퍼퓸': 61,
 '미스': 48,
 '아로': 48,
 '아로마': 44,
 '샴푸': 52,
 'c': 32,
 '깨끗': 60,
 '깨끗한': 53,
 '데일': 55,
 '데일리': 55,
 '플라': 34,
 '오레': 38,
 '오레오': 36,
 '던': 96,
 '키티': 148,
 '칫': 37,
 '칫솔': 37,
 '올': 221,
 '올리': 117,
 '올리브': 95,
 '녹': 137,
 '녹차': 100,
 '숯': 38,
 '찬': 34,
 '욕': 32,
 '터': 46,
 '코코': 91,
 '논': 38,
 '가쓰': 40,
 '가쓰오': 39,
 '러브': 45,
 '더블': 98,
 '싱': 34,
 '헬': 164,
 '헬로': 83,
 '헬로키': 41,
 '헬로키티': 40,
 '덴마': 31,
 '덴마크': 31,
 '무궁': 46,
 '무궁화': 46,
 '액티': 39,
 '닭가': 34,
 '닭가슴': 34,
 '닭가슴살': 31,
 '캡': 40,
 '양면': 48,
 '검정색': 31,
 '검은': 81,
 '버블': 104,
 '레인': 51,
 '레인보': 37,
 '레인보우': 37,
 '슈퍼': 89,
 '바삭': 30,
 '옛': 155,
 '옛날': 147,
 '원터': 40,
 '원터치': 40,
 '심': 80,
 '심플': 46,
 '키세': 39,
 '키세스': 39,
 '아폴': 33,
 '세라': 32,
 ...}

In [43]:
import numpy as np

def get_cohesion(word):
    # 글자가 아니거가 공백, 혹은 희귀한 단어인 경우
    if(not word) or((word in L) == False):
        return 0.0
    
    if len(word) == 1:
        return 1.0
    
    word_freq = L.get(word, 0)
    base_freq = L.get(word[:1], 0)
    
    if base_freq == 0:
        return 0.0
    else:
        return np.power((word_freq / base_freq), 1/(len(word) - 1))
    
print('오레오 : ', get_cohesion('오레오'))

오레오 :  0.10381928103089741

In [44]:
cohesion_dict = {word: get_cohesion(word) for word in L if len(word)>=2}
len(cohesion_dict)

973

In [45]:
for word in ['오레', '오레오','', '블루', '블루베', '블루베리', '', '옥수', '옥수수' ]:
    if not word:
        print()
        continue
        
    print('%s = %.3f'%(word, cohesion_dict.get(word, 0.0)))

오레 = 0.011
오레오 = 0.104

블루 = 0.568
블루베 = 0.533
블루베리 = 0.657

옥수 = 0.507
옥수수 = 0.712

In [67]:
def L_tokenize(word):
    if len(word) <= 2:
        return word
    
    score = []
    for e in range(2, min(len(word), max_l_length) + 1):
        subword = word[:e]
        score.append((subword, cohesion_dict.get(subword, 0), e)) # (word, cohesion, length)
        
    return sorted(score, key=lambda x:(x[1], x[2]), reverse=True)[0][0]

for word in ['오레', '오레오','', '블루', '블루베', '블루베리', '', '옥수', '옥수수' ]:
    print('%s -> %s \n'%(word, L_tokenize(word)))

오레 -> 오레

오레오 -> 오레오

 ->

블루 -> 블루

블루베 -> 블루

블루베리 -> 블루베리

 ->

옥수 -> 옥수

옥수수 -> 옥수수

In [72]:
from collections import defaultdict
import sys
import numpy as np

class CohesionProbability:
    
    def __init__(self, max_l_length=10, min_count=30):
        self.max_l_length = max_l_length
        self.min_count = min_count
        self.L = {}
        
    def train(self, sents):
        for num_sent, sent in enumerate(sents):
            if num_sent % 5000 == 0:
                sys.stdout.write('\rinserting %d sents... ' % num_sent)
            for token in sent.split():
                for e in range(1, min(self.max_l_length, len(token)) + 1):
                    subword = token[:e]
                    self.L[subword] = self.L.get(subword,0) + 1
        print('\rinserting subwords into L: done')
        print('num subword = %d' % len(self.L))

        self.L = {subword:freq for subword, freq in self.L.items() if freq >= self.min_count}
        print('num subword = %d (after pruning with min count %d)' % (len(self.L), self.min_count))
    
    def get_cohesion(self, word):

        # 글자가 아니거나 공백, 혹은 희귀한 단어인 경우
        if (not word) or ((word in self.L) == False): 
            return 0.0

        if len(word) == 1:
            return 1.0

        word_freq = self.L.get(word, 0)
        base_freq = self.L.get(word[:1], 0)

        if base_freq == 0:
            return 0.0
        else:
            return np.power((word_freq / base_freq), 1 / (len(word) - 1))

In [73]:
my_cohesion_dict = {
    '블루베리' : 0.7,
    '블루' : 0.45
}

def L_tokenize_w_tolerance(word, tolerance=0.1):
    if len(word) <= 2:
        return word
    
    scores = []
    for e in range(2, min(len(word), max_l_length)+1):
        subword = word[:e]
        scores.append((subword, my_cohesion_dict.get(subword, 0))) # (word, cohesion)
        
    max_score = max([score for subword, score in scores])
    scores = [(subword, score) for (subword, score) in scores if (max_score - score) <= tolerance]
    
    return sorted(scores, key=lambda x:len(x[0]), reverse=True)[0][0]

for word in ['블루베']:
    print('w tolerance : %s -> %s'%(word, L_tokenize_w_tolerance(word, tolerance=0)))
    print('wo tolerance : %s -> %s'%(word, L_tokenize_w_tolerance(word)))

w tolerance : 블루베 -> 블루
wo tolerance : 블루베 -> 블루

In [68]:
max_l_length = 10
min_count = 30

In [76]:
for num_doc, doc in enumerate(corpus):
    if num_doc >= 3: break
    print("%s ...\n"%doc[:100])

GDS_NM ...

배송비 ...

사은행사쿠폰 ...

In [77]:
corpus.iter_sent = True
cohesion_probability = CohesionProbability()
cohesion_probability.train(corpus)

inserting subwords into L: done
num subword = 223741
num subword = 1421 (after pruning with min count 30)

In [78]:
for word in ['오레', '오레오','', '블루', '블루베', '블루베리', '', '옥수', '옥수수' ]:
    if not word:
        print()
        continue
        
    print("%s = %.3f"%(word, cohesion_probability.get_cohesion(word)))

오레 = 0.011
오레오 = 0.104

블루 = 0.568
블루베 = 0.533
블루베리 = 0.657

옥수 = 0.507
옥수수 = 0.712

In [81]:
corpus = Corpus(corpus_fname, iter_sent=True)
len(corpus)

72303

In [83]:
max_l_length = 6
max_r_length = 5
min_count = 30

In [84]:
from collections import defaultdict
import sys

L = defaultdict(lambda : defaultdict(lambda: 0)) # 어린 -> 어린이
R = defaultdict(lambda : defaultdict(lambda: 0)) # 어린이 <- 린이

for num_sent, sent in enumerate(corpus):
    if num_sent % 5000 == 0:
        sys.stdout.write('\rinserting %d sents...'%num_sent)
        
    for token in sent.split():
        if len(token) < 2:
            continue
            
        for e in range(2, min(max_l_length, len(token)) + 1):
            subword_from = token[:e-1]
            subword_to = token[:e]
            L[subword_from][subword_to] += 1
            
        for b in range(2, min(max_r_length, len(token)) + 1):
            subword_from = token[-b+1:]
            subword_to = token[-b:]
            R[subword_from][subword_to] += 1
            
print('\ndone')

inserting 70000 sents...
done

In [86]:
def get_accessor_variety(word):
    # av_l : ?-린이
    # av_r : 어린-?
    av_l = 0 if not word in R else len(R[word])
    av_r = 0 if not word in L else len(L[word])
    return (av_l, av_r)

for word in ['오레', '오레오', '블루', '블루베', '블루베리', '옥수', '옥수수' ]:
    av = get_accessor_variety(word)
    print('%s\t(%d, %d)'%(word, av[0], av[1]))

오레	(3, 2)
오레오	(0, 6)
블루	(47, 25)
블루베	(0, 1)
블루베리	(52, 34)
옥수	(0, 1)
옥수수	(11, 35)

In [87]:
import numpy as np

def get_branching_entropy(word):
    def entropy(extensions):
        '''extensions: dict[str]: int
        '''
        sum_ = sum(extensions.values())
        if sum_ == 0:
            return 0
        
        entropy = 0
        for v in extensions.values():
            if v == 0: continue
            prob = v / sum_
            entropy += (prob * np.log(prob))
        return -1 * entropy

    # be_l: ?-린이
    # be_r: 어린-?

    be_l = 0 if not word in R else entropy(R[word])
    be_r = 0 if not word in L else entropy(L[word])    
    
    return (be_l, be_r)

for word in ['오레', '오레오', '블루', '블루베', '블루베리', '옥수', '옥수수' ]:
    be = get_branching_entropy(word)
    print('%s\t(%.3f, %.3f)' % (word, be[0], be[1]))

오레	(0.639, 0.206)
오레오	(0.000, 1.561)
블루	(3.538, 1.911)
블루베	(0.000, -0.000)
블루베리	(3.687, 3.378)
옥수	(0.000, -0.000)
옥수수	(1.768, 3.167)

In [88]:
cohesion_probability = CohesionProbability()
cohesion_probability.train(corpus)

inserting subwords into L: done
num subword = 223741
num subword = 1421 (after pruning with min count 30)

In [90]:
def cpbe_tokenize(word):
    if (not word) or (len(word) <= 2):
        return word
    
    score = []
    for e in range(2, min(len(word), max_l_length) + 1):
        subword = word[:e]
        be_l, be_r = get_branching_entropy(subword)
        cp_l = cohesion_probability.get_cohesion(subword)
        score.append((subword, cp_l * be_r, e)) # (word, cohesion * branching entropy, length)
        
    return sorted(score, key=lambda x:(x[1], x[1]), reverse=True)[0][0]

for word in ['오레', '오레오', '블루', '블루베', '블루베리', '옥수', '옥수수' ]:
    print('%s --> %s\n' % (word, cpbe_tokenize(word)))

오레 --> 오레

오레오 --> 오레오

블루베 --> 블루

블루베리 --> 블루베리

옥수 --> 옥수

옥수수 --> 옥수수

In [ ]:
stopwords = []

In [ ]:
!git clone https://github.com/SOMJANG/Mecab-ko-for-Google-Colab.git
%cd Mecab-ko-for-Google-Colab
!bash install_mecab-ko_on_colab190912.sh

In [ ]:
import urllib.request
import pandas as pd
from konlpy.tag import Mecab
from nltk import FreqDist
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
tokenizer = Mecab()

In [ ]:
tokenized=[]
for sentence in gds_a_copy['GDS_NM']:
    temp = tokenizer.morphs(sentence) # 토큰화
    temp = [word for word in temp if not word in stopwords] # 불용어 제거
    tokenized.append(temp)

In [ ]:
vocab = FreqDist(np.hstack(tokenized))
print(f'단어의 집합 : {len(vocab)}')

단어의 집합 : 15611

In [ ]:
vocab.most_common(30)

In [ ]:
gds_a_copy.GDS_NM.drop_duplicates()

0              배송비
1           사은행사쿠폰
2           코지유리물병
3             크지물병
4               석류
           ...
72141    맥 원형후라이 중
72142    맥 원형후라이 대
72143        맥웰빙원후
72144        절구 소소
72145        알뜰투라인
Name: GDS_NM, Length: 55322, dtype: object

In [ ]:
import nltk
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize

stop = "[^a-z0-9]"
stop_list = stop.split(',')
tok = word_tokenize(word)

def stopword(word_tokenize):
    result = []

    for w in word_tokenize:
        if w not in stop_list:
            result.append(w)
    return result

print('토큰화한 단어는'+ str(tok) +'입니다.')
print('불용어를 제거하면'+ str(stopword(tok)) +'입니다.')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

TypeError: ignored

## df to txt

In [ ]:
from collections import defaultdict
import sys

corpus.iter_sent = True
max_l_length = 10
min_count = 30

L = defaultdict(lambda: 0)

for num_sent, sent in enumerate(corpus):
    if num_sent % 5000 == 0:
        sys.stdout.write('\risnerting %d sents... ' % num_sent)
    for token in sent.split():
        for e in range(1, min(max_l_length, len(token)) + 1):
            subword = token[:e]
            L[subword] += 1
print('\rinserting subwords into L: done')
print('num subword = %d' % len(L))

L = {subword:freq for subword, freq in L.items() if freq >= min_count}
print('num subword = %d (after pruning with min count %d)' % (len(L), min_count))

NameError: ignored

In [ ]:
import numpy as np

def get_cohesion(word):
    # 글자가 아니거가 공백, 혹은 희귀한 단어인 경우
    if(not word) or((word in L) == False):
        return 0.0
    
    if len(word) == 1:
        return 1.0
    
    word_freq = L.get(word, 0)
    base_freq = L.get(word[:1], 0)
    
    if base_freq == 0:
        return 0.0
    else:
        return np.power((word_freq / base_freq), 1/(len(word) - 1))
    
print('청와대 : ', get_cohesion('청와대'))

NameError: ignored